@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div style="display:flex;flex-direction:column; justify-content:center; align-items:center; width:100%;" >
    <h1 class="text-danger" style="text-align:center">Oops.</h1>
    <h2 class="text-danger" style="text-align:center">Something went wrong.</h2>
    <h3 class="text-danger" style="text-align:center">Please enjoy this image while we work this out.</h3>
    <img src="~/Images/facepalm.gif" height="100" width="100"/>
</div>